--root{
--seekPos:0.0;    
}
::-webkit-scrollbar{
    width:0;
}
::-moz-scrollbar{
width:0;
}
body{
    padding: 0;
    margin: 0;
    max-width: 100vw;
    max-height:100vh;
    display:flex;
    flex-flow:column nowrap;
    align-content: center;
    overflow-x: hidden;
    
}
.loader{
width:100vw;
height: 100vh;
background: #111;
display: grid;  
z-index: 5;
    
grid-template-columns: 22% 22% 22%;
grid-template-rows:15% 15% 15%;
    grid-template-areas: 
        'g1 g2 g3'
        'g4 g5 g6'
        'g7 g8 g9';
grid-gap: 10vw;
    overflow: hidden;
}
.logoScreen{
    width:100vw;
    height: 100vh;
    background-color: rgba(5,5,5,1);
    background-image: linear-gradient(180deg,#eee 20vh,#232 50vh,#757 80vh);
    display: flex;
    justify-content: space-between;
    background-size: 100vh;
    position: fixed;
    z-index:12 ;
    opacity: 0.6;
/*    filter:contrast(120) brightness(250px);*/
    padding-left: 160px;
    overflow: hidden;
}
.logo{
    width:20vw;
    height: 10vw;
    position: fixed;
    background: transparent;
    top:50vh;
    left:15vw;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 15;
}
.fa-play-circle{
    min-height:28pt;
    min-width: 28pt;
    background: black;
    filter:contrast(92%);
    border-radius: 50%;
    font-size: 25pt;
    color:white;
    border: 10px black solid;
    animation: logo 3s ease-out .1s forwards;
}
.logo h2{
    color:#dee;
    font-size: 25pt;
font-family: 'Charm';
    letter-spacing: 3.2pt;
    text-decoration: underline black;
font-weight: 700;
}
.logo p{
    position: fixed;
    top:60vh;
    font-size: 14pt;
    color:white;
    left:45vw;
}
@keyframes logo{
    from{filter: brightness(1%);}
    to{filter: brightness(120%);}
}
.shine{
 width:20vw;
    height: 150vh;
    background: linear-gradient(90deg,black ,silver );
    transform: rotate(145deg) translate(-30vh,-0vh) skewX(180deg);
    opacity: 0.2;
        outline:none;
    border: 0;
    margin-left: -115vw;
}
.grid{
    margin-left: 20%;
    margin-top: 30vh;
    width:30vmin;
    height: 30vmin;
    color:white;
    position: relative;
    filter: saturate(120%);
    opacity: 1;
    transition:left 3s, top 4s;
    box-shadow:-3px 3px 30px 10px #eee;
    border-radius:20px; 
}

.grid:nth-child(1){
    grid-area: g1;
    animation:move2 1.2s ease-out 1s forwards;
    transition:transform 2s;
    animation-delay: 1.5s;

}

.grid:nth-child(2){
    grid-area: g2;
    display: none;
    }

.grid:nth-child(3){
    grid-area: g3;
    
    display: none;
}

.grid:nth-child(4){
    grid-area: g4;
    animation:move6 1.2s ease-out 1s forwards;
    animation-delay: 2.4s;
    
}


.grid:nth-child(5){
    grid-area: g5;
        
        animation:move1 1.2s ease-out 1 forwards;
    animation-delay: 0.5s;
    
}
.grid:nth-child(6){
    grid-area: g6;

display: none;
}

.grid:nth-child(7){
    grid-area: g7;
    animation:move3 1.2s ease-out 1s forwards;
    animation-delay: 3.4s;
    
}

.grid:nth-child(8){
    grid-area: g8;
    background: #00f;
    animation:move4 1.2s ease-out 1s forwards;
    transition:left 3s,top 7s;
    animation-delay: 4.3s;
    
}
.grid:nth-child(9){
    grid-area: g9;
    background: #00f;
    animation:move5 1.2s ease-out 1s forwards;
    animation-delay: 5s;
}
@keyframes move1{
    from{
        left:0;
        transform: rotateZ(0deg);}
    to{
       left: 30vmin;
         transform: rotateZ(90deg);
    }
}
@keyframes move2{
    from{
        left:0;
        top:0;
        opacity: 0.5;
        transform: rotateZ(0deg);
    }
    to{
    left: 30.8vmin;
    top:30.5vmin;
    opacity: 1;
         transform: rotateZ(90deg);
    }
}
@keyframes move3{
    from{
        
        transform: rotateZ(0deg) translate(0, 0);
    }
    to{
         transform: rotateZ(90deg) translate(-32vmin ,0);
    }
}
@keyframes move4{
    
    from{
        top:0;
        left:0;
        opacity: 1;
        transform: rotateZ(90deg);
    }
    to{
    top:-32vmin;
    left:-32vmin;
    opacity: 0.3;
        transform: rotateZ(0deg);
    }
}
@keyframes move5{
    from{
        left:0;
        top:0;
        opacity: 0.5;
        transform: rotateZ(90deg);
    }
    to{
    left: -34vmin;
    opacity: 1;
         transform: rotateZ(0deg);
    }
}
@keyframes move6{
from{top:0;
     left:0;
    transform: rotateZ(90deg);
    }
    to{
        top:-30vmin;
        left: 30vmin;
        transform: rotateZ(0deg);
    }
    
}
@media (max-device-height:590px){
    @keyframes move1{
    from{
        left:0;
        transform: rotateZ(0deg);}
    to{
       left: 30vmin;
         transform: rotateZ(90deg);
    }
}
@keyframes move2{
    from{
        left:0;
        top:0;
        opacity: 0.5;
        transform: rotateZ(0deg);
    }
    to{
    left: 30.8vmin;
    top:30.5vmin;
    opacity: 1;
         transform: rotateZ(90deg);
    }
}
@keyframes move3{
    from{
        
        transform: rotateZ(0deg) translate(0, 0);
    }
    to{
         transform: rotateZ(90deg) translate(-30.5vmin ,0);
    }
}
@keyframes move4{
    
    from{
        top:0;
        left:0;
        opacity: 1;
        transform: rotateZ(90deg);
    }
    to{
    top:-32vmin;
    left:-32vmin;
    opacity: 0.3;
        transform: rotateZ(0deg);
    }
}
@keyframes move5{
    from{
        left:0;
        top:0;
        opacity: 0.5;
        transform: rotateZ(90deg);
    }
    to{
    left: -34vmin;
    opacity: 1;
         transform: rotateZ(0deg);
    }
}
@keyframes move6{
from{top:0;
     left:0;
    transform: rotateZ(90deg);
    }
    to{
        top:-30vmin;
        left: 30vmin;
        transform: rotateZ(0deg);
    }
    
}
}
.player_body{
    max-width: 100vw;
    min-height: 100vh;
    max-height: 101vh;
    background:#fff;
    display:none;
    overflow-y:auto;
    overflow-x:hidden;
}
.display{

    width: 100%;
    height:32vh;
    background: #e74c3c;
    overflow-x: scroll;
    direction: ltl;
    overflow-y: hidden;
    -webkit-scroll-behavior: smooth;
    padding-top:5px;
    padding-bottom:5px;
    position: fixed;
    padding-left: 0px;
    z-index: 0;
    transition: all ease-out 0.45s;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
}
.display_inner{
    width:450vw;
    height: 100%;
    padding-bottom: 30px;
    padding-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow-x: scroll;
    overflow-y:hidden;
    margin-bottom: -2vmin;
    background:transparent;
}
.fa-list{
  color: white;
    visibility: hidden;
    font-size: 20pt;
    position: fixed;
    top:30px;
    left: 30px;
    z-index: 15;
}

#big-display{
    height: 84vh;
    z-index: 10;
}
.play_img{
    max-width: 35vmin;
    max-height: 35vmin;
    min-width: 35vmin;
    min-height: 35vmin;
   margin:0 10px 10px 10px;
    border-radius: 20%;
    z-index: 2;
    transition: transform linear .4s;
    /*box-shadow: -4px -1px 20px 4px #322D2D,
            3px 3px 20px 2px rgba(15,15,15,1) ;*/
}
.play_img:nth-of-type(1){
    margin-left: 60px;
}
#big-img{
    min-height: 85vmin;
    min-width: 85vmin;
}
.control-bar{
    position: fixed;
    bottom:0;
    display: flex;
    flex-flow: column nowrap;
    width:100vw;
    height:16vh;
    background: rgba(25,25,25,1);
    z-index: 10;
    box-shadow: 5px 0 20px 10px #C51300;
}

.control-btn{
    display: flex;
    flex-flow: row wrap;
    width:100vw;
    height: 5vh;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 1px;
    order:3;
}
.play{
    width:30px;
    height:30px;
    align-self: center;
}

.fa-play-circle-o{
    color:white;
    font-size: 32pt;
    margin: 0 7vw;
}
.fa-pause-circle-o{
color:white;
    font-size: 32pt;
    
}
.fa-chevron-left{
    color:aliceblue;
    font-size:18pt;
    margin:5pt 23pt 0 0;
}

.fa-chevron-right{
    color:aliceblue;
    font-size:18pt;
    margin:5pt 0 0 23pt;
    }
i:hover{
    color:red;
}

input[type=range]{
    width:100%;
    height: 6px;
    border-radius: 10px;
    -webkit-appearance:none;
    margin-top:5px;
    margin-left: -2px;
    background-color:transparent;
    order:3;
}
input[type=range]:focus::-webkit-slider-runnable-track{
background: #555;
    outline: none;
    border:none;
    background-color: crimson;
    box-shadow: 2px 2px 20px 5px crimson;
}

input[type=range]::-webkit-slider-runnable-track{
    height: 3px;

    background:-webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(var(--seekPos), yellow),
    color-stop(var(--seekPos), black));
    transition: all linear .5s;
    /*rgba(245,225,125,1);
*/
    margin-bottom: .1px;
    box-shadow: .1px .1px 12px .2px black;
}
input[type=range]::-webkit-slider-thumb{
    border:5px black solid;
    width:15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance:none;
    filter: contrast(152%);
    margin-top: -4px;
    background:yellow;
    transition: all linear .5s;
}
input[type=range]:focus::-webkit-slider-thumb{
 background: #222; 
    outline: none;
}
.currentSong{
    max-width:35vw;
    min-width: 30vw;
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    white-space: nowrap;
    min-height: 4vw;
    padding: 0;
    word-spacing: 6pt;
    letter-spacing: 1.5pt;
    align-self: flex-start;
    margin:2px 0 -5px 0;
    margin-left: 10px;
    font-size:16pt;
    font-weight: 600;
    color:aliceblue;
    order:1;
    
}
.currentTime{
    order:2;
    color:white;
    font-size: 12pt;
    align-self: flex-end;
    margin:2px 12vw 2px -5vw;
    width:10px;
    position: fixed;
}
.currentSong p:nth-child(1){
    font-family: 'Fredoka One';
    margin: 0 6px 0 0;
}
.currentSong p:nth-child(2){
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 8pt;
    letter-spacing: 1.5pt;
    margin:0;
}


.list{
    list-style-type: none;
    display: inline-flex;
    flex-flow: column wrap;
    min-height:14vh;
    max-height:14vh;
    justify-content: flex-start;
    align-items:flex-start ;
    border-bottom: 0.4px black solid;
    background-color:#f1c40f;
    margin-top: 3.5vh;
    border-radius: 10px 0 0 10px; 
    padding:1.5px;
    
}
.list:hover{
    
}
#secondShadow{
    box-shadow: -2px - 15px 10px rgba(85,105,40,0.48);
}

.list p:nth-child(1){
    margin-bottom: 5px;
    order:2;
    color:#000;
}

.list p:nth-child(2){
    font-size: 10pt;
    margin-bottom: 5px;
    font-family: 'Poppins';
    order:3;
    color:#000;
}
.list p{
    margin:5pt 0 0 0;
    margin-bottom: -5px;
    width:60vw;
    height:5vw;
    color:aliceblue;
    font-weight:550;
    font-size: 14pt;
    font-family: 'Fredoka One';
    padding:0;
    vertical-align:left;
}
.listView{
    width:100vw;
    min-height: 180vmax;
    max-height: 190vmax;
    background-color: #fff;
    margin-top: 28.5vh;
    padding-top: 10px;
    z-index: 5;
    transform: translateY(30px);
}
.listView ul{
    display: flex;
    flex-flow: column wrap;
    margin-left: 1vw;
     margin-top:0;   
}

.thumb{
    min-height: 15vw;
    max-width: 15vw;
    margin-top: 3vh;
    border-radius: 15px;
    margin-left: 0;
    vertical-align:left;
    transform: translate(10px,-10px);
    filter:saturate(80%) brightness(110%) contrast(130%);
    order:1;
}

@media (min-device-height:200px) and (max-device-height:630px){
    .display{
        min-height: 30vmax;
    }    
    .display_inner{
        max-height: 100%;
        margin-top: 0.2vh;
    }
 
    .play_img{
        
        min-height: 30vh;
        min-width: 30vh;
        max-height: 30vh;
        max-width: 30vh;
    }
    .listView{
        margin-top: 29vmax;
    }
    .control-bar{
        min-height: 10vmax;
        bottom:0;
    }
}

@media (min-device-width:450px) and (min-device-height:500px){
    .play_img{
        min-height: 21vh;
        min-width: 21vh;
        max-height: 21vh;
        max-width: 21vh;
    }
    .list{
        height: 13vh;
    }
    .list p{
        margin-left: 90px;
    }
    .list p:nth-child(1){
        margin-top: 15px;
    }
    .list p:nth-child(2){
        margin-top: -30px;
    }
}
@media (min-device-width:1050px){
    
    .list{
        height: 15vh;
        
    }
    .list p{
        margin-left: 8vw;
    }
    .list p:nth-child(1){
        margin-top: 5px;
    }
    .list p:nth-child(2){
        margin-bottom:10px;
        
    }
    .control-bar{
        max-height: 20vh;
        margin-bottom: 0;
    }
    .currentSong{
        margin-top: -10px;
    }
    .thumb{
        min-height: 12vh;
        min-width: 12vh;
        max-width: 12vh;
        margin: 20px 0 0 -60vw;
        
    }
    .thumb:active{
        margin: 10px 0;
    }:
    
}
