--root{
--seekPos:0.0;    
}
::-webkit-scrollbar{
    width:0;
}
::-moz-scrollbar{
width:0;
}
body{
    padding: 0;
    margin: 0;
    max-width: 100vw;
    display:flex;
    flex-flow:column nowrap;
    align-content: center;
    overflow-x: hidden;
}
.loader{
width:100vw;
height: 100vh;
background: #111;
display: grid;  
z-index: 5;
    
grid-template-columns: 22% 22% 22%;
grid-template-rows:15% 15% 15%;
    grid-template-areas: 
        'g1 g2 g3'
        'g4 g5 g6'
        'g7 g8 g9';
grid-gap: 10vw;
    overflow: hidden;
}
.logoScreen{
    width:100vw;
    height: 100vh;
    background-color: rgba(5,5,5,1);
    background-image: linear-gradient(180deg,#eee 20vh,#232 50vh,#757 80vh);
    display: flex;
    justify-content: space-between;
    background-size: 100vh;
    position: fixed;
    z-index:12 ;
    opacity: 0.6;
/*    filter:contrast(120) brightness(250px);*/
    padding-left: 160px;
    overflow: hidden;
}
.logo{
    width:40vw;
    height: 20vw;
    position: fixed;
    background: transparent;
    top:50vh;
    left:30vw;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 15;
}
.fa-play-circle{
    min-height:68pt;
    min-width: 68pt;
    background: black;
    filter:contrast(92%);
    border-radius: 50%;
    font-size: 70pt;
    color:white;
    border: 50px black solid;
    animation: logo 3s ease-out .1s forwards;
}
.logo h2{
    color:#dee;
    font-size: 75pt;
font-family: 'Charm';
    letter-spacing: 3.2pt;
    text-decoration: underline black;
font-weight: 700;
}
.logo p{
    position: fixed;
    top:60vh;
    font-size: 30pt;
    color:white;
    right: 20vw;
}
@keyframes logo{
    from{filter: brightness(1%);}
    to{filter: brightness(120%);}
}
.shine{
 width:20vw;
    height: 150vh;
    background: linear-gradient(90deg,black ,silver );
    transform: rotate(145deg) translate(-30vh,-0vh) skewX(180deg);
    opacity: 0.2;
        outline:none;
    border: 0;
    margin-left: -115vw;
}
.grid{
    margin-left: 20%;
    margin-top: 30vh;
    width:30vmin;
    height: 30vmin;
    color:white;
    position: relative;
    filter: saturate(120%);
    opacity: 1;
    transition:left 3s, top 4s;
    box-shadow:-3px 3px 30px 10px #eee;
    border-radius:20px; 
}

.grid:nth-child(1){
    grid-area: g1;
    animation:move2 1.2s ease-out 1s forwards;
      background: #00f;
    transition:transform 2s;
    animation-delay: 1.5s;

}

.grid:nth-child(2){
    grid-area: g2;
    display: none;
    }

.grid:nth-child(3){
    grid-area: g3;
    
    display: none;
}

.grid:nth-child(4){
    grid-area: g4;
      background: #00f;
    animation:move6 1.2s ease-out 1s forwards;
    animation-delay: 2.4s;
    
}


.grid:nth-child(5){
    grid-area: g5;
        
        animation:move1 1.2s ease-out 1 forwards;
    animation-delay: 0.5s;
    
}
.grid:nth-child(6){
    grid-area: g6;

display: none;
}

.grid:nth-child(7){
    grid-area: g7;
    animation:move3 1.2s ease-out 1s forwards;
    animation-delay: 3.4s;
    
}

.grid:nth-child(8){
    grid-area: g8;
    background: #00f;
    animation:move4 1.2s ease-out 1s forwards;
    transition:left 3s,top 7s;
    animation-delay: 4.3s;
    
}
.grid:nth-child(9){
    grid-area: g9;
    background: #00f;
    animation:move5 1.2s ease-out 1s forwards;
    animation-delay: 5s;
}
@keyframes move1{
    from{
        left:0;
        transform: rotateZ(0deg);}
    to{
       left: 30vmin;
         transform: rotateZ(90deg);
    }
}
@keyframes move2{
    from{
        left:0;
        top:0;
        opacity: 0.5;
        transform: rotateZ(0deg);
    }
    to{
    left: 30.8vmin;
    top:36.5vmin;
    opacity: 1;
         transform: rotateZ(90deg);
    }
}
@keyframes move3{
    from{
        
        transform: rotateZ(0deg) translate(0, 0);
    }
    to{
         transform: rotateZ(90deg) translate(-36.5vmin ,0);
    }
}
@keyframes move4{
    
    from{
        top:0;
        left:0;
        opacity: 1;
        transform: rotateZ(90deg);
    }
    to{
    top:-36vmin;
    left:-32vmin;
    opacity: 0.3;
        transform: rotateZ(0deg);
    }
}
@keyframes move5{
    from{
        left:0;
        top:0;
        opacity: 0.5;
        transform: rotateZ(90deg);
    }
    to{
    left: -34vmin;
        top:-38px;
    opacity: 1;
         transform: rotateZ(0deg);
    }
}
@keyframes move6{
from{top:0;
     left:0;
    transform: rotateZ(90deg);
    }
    to{
        top:-32vmin;
        left: 30vmin;
        transform: rotateZ(0deg);
    }
    
}
@media (max-device-height:590px){
    @keyframes move1{
    from{
        left:0;
        transform: rotateZ(0deg);}
    to{
       left: 30vmin;
         transform: rotateZ(90deg);
    }
}
@keyframes move2{
    from{
        left:0;
        top:0;
        opacity: 0.5;
        transform: rotateZ(0deg);
    }
    to{
    left: 30.8vmin;
    top:30.5vmin;
    opacity: 1;
         transform: rotateZ(90deg);
    }
}
@keyframes move3{
    from{
        
        transform: rotateZ(0deg) translate(0, 0);
    }
    to{
         transform: rotateZ(90deg) translate(-32.5vmin ,0);
    }
}
@keyframes move4{
    
    from{
        top:0;
        left:0;
        opacity: 1;
        transform: rotateZ(90deg);
    }
    to{
    top:-32vmin;
    left:-32vmin;
    opacity: 0.3;
        transform: rotateZ(0deg);
    }
}
@keyframes move5{
    from{
        left:0;
        top:0;
        opacity: 0.5;
        transform: rotateZ(90deg);
    }
    to{
    left: -34vmin;
        top:-13px;
    opacity: 1;
         transform: rotateZ(0deg);
    }
}
@keyframes move6{
from{top:0;
     left:0;
    transform: rotateZ(90deg);
    }
    to{
        top:-32vmin;
        left: 30vmin;
        transform: rotateZ(0deg);
    }
    
}
}
.player_body{
    max-width: 100vw;
    min-height: 100vh;
    max-height: 101vh;
    background:rgba(25,25,25,1);
    display:none;
}
.display{

    width: 100%;
    height:30vh;
    background: rgba(25,25,25,1);
    overflow-x: scroll;
    direction: ltl;
    overflow-y: hidden;
    -webkit-scroll-behavior: smooth;
    padding-top:10px;
    position: fixed;
    padding-left: 0px;
    z-index: 0;
    transition: all ease-out 0.45s;
    box-shadow:inset 5px -8px 15px 14px rgba(5,5,5,0.55);
}
.display_inner{
    width:450vw;
    height: 100%;
    padding-bottom: 30px;
    padding-top: 25px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow-x: scroll;
    margin-bottom: -6vmin;
}
.fa-list{
  color: white;
    visibility: hidden;
    font-size: 42pt;
    position: fixed;
    top:30px;
    left: 30px;
    z-index: 15;
}

#big-display{
    height: 85vh;
    z-index: 10;
}
.play_img{
    max-width: 40vmin;
    max-height: 40vmin;
    min-width: 30vmin;
    min-height: 40vmin;
   margin:0 30px 40px 10px;
    border-radius: 5%;
    z-index: 2;
    transition: transform linear .4s;
    box-shadow: -4px -1px 20px 7px #322D2D,
            3px 3px 20px 5px rgba(15,15,15,1) ;
}
.play_img:nth-of-type(1){
    margin-left: 110px;
}
#big-img{
    min-height: 90vmin;
    min-width: 90vmin;
}
.control-bar{
    position: fixed;
    bottom:-2px;
    display: flex;
    flex-flow: column nowrap;
    width:100vw;
    height:15vh; 
    background: rgba(25,25,25,1);
    z-index: 10;
    padding-bottom: 2pt;
    box-shadow: 5px 0 20px 5px black;
}

.control-btn{
    display: flex;
    flex-flow: row wrap;
    width:100vw;
    height: 5.5vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: -5px;
    padding-bottom: 5px;
    order:3;
}
.play{
    width:40px;
    height:40px;
    align-self: center;
}

.fa-play-circle-o{
    color:white;
    font-size: 82pt !important;
    margin: 1pt 12vw 5pt 8vw;
}
.fa-pause-circle-o{
color:white;
    font-size: 82pt !important;
    margin: 1pt 12vw 5pt 8vw;
}
.fa-chevron-left{
    color:aliceblue;
    font-size:52pt !important;
    margin:45pt 23pt 0 0;
}

.fa-chevron-right{
    color:aliceblue;
    font-size:52pt !important;
    margin:45pt 0 0 23pt;
}
i:hover{
    color:red;
}

input[type=range]{
    width:100%;
    height: 12px;
    border-radius: 10px;
    -webkit-appearance:none;
    margin: 2.5vh 0 -10px -5px;
    background-color:transparent;
    order:3;
}
input[type=range]:focus::-webkit-slider-runnable-track{
background: #555;
    outline: none;
    border:none;
    background-color: crimson;
    box-shadow: 2px 2px 20px 5px crimson;
}

input[type=range]::-webkit-slider-runnable-track{
    height: 7px;

    background:-webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(var(--seekPos), yellow),
    color-stop(var(--seekPos), black));
    transition: all linear .5s;
    /*rgba(245,225,125,1);
*/
    margin-bottom: .1px;
    box-shadow: .1px .1px 12px .2px black;
}
input[type=range]::-webkit-slider-thumb{
    border:8px black solid;
    width:25px;
    height: 25px;
    border-radius: 50%;
    -webkit-appearance:none;
    filter: contrast(152%);
    margin-top: -8px;
    background:yellow;
    transition: all linear .5s;
}
input[type=range]:focus::-webkit-slider-thumb{
 background: #222; 
    outline: none;
}
.currentSong{
    max-width:45vw;
    min-width: 40vw;
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    white-space: nowrap;
    height: 38pt;
    padding: 0;
    word-spacing: 6pt;
    letter-spacing: 1.5pt;
    margin:2px 0 -5px 0;
    margin-left: 35px;
    font-size:32pt;
    font-weight: 500;
    color:aliceblue;
    order:1;
    
}

.songName{
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    width:100vw;
    height: 40pt;
    margin: 10pt 0 -5pt;
    order:1;
}
.currentTime{
    order:2;
    color:white;
    font-size: 20pt;
    align-self: flex-end;
    margin:20px 7vw 10px 0;
    width:10px;
}
.currentSong p:nth-child(1){
    font-family: 'Fredoka One';
    margin: 0 34px 0 0;
    order: 1;
}
.currentSong p:nth-child(2){
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 15pt;
    letter-spacing: 2.5pt;
    margin:0;
    order: 2;
}


.list{
    list-style-type: none;
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items:baseline;
    border-bottom: 0.4px black solid;
    background: rgba(25,25,25,1);
    box-shadow:-2px -2px 15px 10px #AA1B07;
    margin-top: 3vh;
    border-radius: 30px 0 0 30px; 
    padding:1.5px;
}
.list:hover{
    box-shadow: inset -1px -1px 10px 2px rgba(250,250,250,0.6),
        inset 3px 3px 1px 7px rgba(5,5,5,1);
}
#secondShadow{
    box-shadow: -2px -2px 15px 10px rgba(85,105,40,0.48);
}

.list p:nth-child(1){
    margin-bottom: -5px;
}

.list p:nth-child(2){
    font-size: 15pt;
    margin-bottom: -115px;
    font-family: 'Poppins';
}
.list p{
    margin:20pt 0 0 16vw;
    margin-bottom: -5px;
    color:aliceblue;
    font-weight:550;
    font-size: 20pt;
    font-family: 'Fredoka One';
}
.listView{
    width:100vw;
    min-height: 130vmax;
    max-height: 140vmax;
    background: maroon;
    margin-top: 28.5vh;
    padding-top: 30px;
    z-index: 5;
    transform: translateY(30px);
}
.listView ul{
    display: flex;
    flex-flow: column wrap;
    margin-left: 10px;
        
}

.thumb{
    min-height: 11vw;
    max-width: 11vw;
    margin-top: 2vh;
    border-radius: 15px;
    margin-left: 0;
    vertical-align: middle;
    transform: translate(10px,-10px);
    filter:saturate(80%) brightness(110%) contrast(130%);
}

@media (min-device-height:200px) and (max-device-height:630px){
    .display{
        min-height: 30vmax;
    }    
    .display_inner{
        max-height: 100%;
        margin-top: 0.2vh;
    }
 
    .play_img{
        
        min-height: 25vh;
        min-width: 25vh;
        max-height: 25vh;
        max-width: 25vh;
    }
    .listView{
        margin-top: 29vmax;
    }
    .control-bar{
        min-height: 10vmax;
    }
}

@media (min-device-width:450px) and (min-device-height:500px){
    .play_img{
        min-height: 21vh;
        min-width: 21vh;
        max-height: 21vh;
        max-width: 21vh;
    }
    .list{
        height: 13vh;
    }
    .list p{
        margin-left: 90px;
    }
    .list p:nth-child(1){
        margin-top: 15px;
    }
    .list p:nth-child(2){
        margin-top: -30px;
    }
}
@media (min-device-width:1050px){
    
    .list{
        height: 15vh;
        
    }
    .list p{
        margin-left: 8vw;
    }
    .list p:nth-child(1){
        margin-top: 5px;
    }
    .list p:nth-child(2){
        margin-bottom:10px;
    }
    .control-bar{
        max-height: 20vh;
        margin-bottom: 0;
    }
    .currentSong{
        margin-top: -10px;
    }
    .thumb{
        min-height: 12vh;
        min-width: 12vh;
        max-width: 12vh;
        margin: 20px 0 0 -60vw;
        
    }
    .thumb:active{
        margin: 10px 0;
    }:
    
}